// Calendar
/*
*= require fullcalendar
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";

html,
body {
	height:100%;
}

.signin_as_margin {
  margin-top: 15px;
  color: #9d9d9d;
}

.navbar {
  padding-right: 45px;
  padding-left: 45px;
}

.wrapper {
	min-height:100%;
	position:relative;
}

// Simple_calendar
td.day  {
  height: 100px;
  width: auto;
  border: .5px solid gray;
  position: relative;
}
.addEvent {
  position: absolute;
  top: 5px;
  right: 5px;
}
.calendar-title {
  font-size: 25px;
  font-weight: bolder;
}
.calendar-heading {
  text-align: center;
}
